<hello name="{{ name }}"></hello>
<p>
  Esta es una aplicación <b>Angular 7</b> que muestra  un ejemplo de DropDown en cascada, populados a través de un <b>WEB API</b>
</p>

<label>Areas:</label> 
<select [(ngModel)]="selectedArea.CODAREA" (change)="onSelect($event.target.value)">
  <option value="0">--Select--</option>
  <option *ngFor="let area of areas | async" value= {{area.CODAREA}}>{{area.DESCAREA}}</option>
</select>

<br/><br/>

<div>
<label>Productos:</label>
<select>
  <option value="0">--Select--</option>
  <option *ngFor="let producto of productos | async | orderBy:'DESCPROD'" value= {{producto.CODPROD}}>{{producto.DESCPROD}}</option>
</select>
</div>
